In [2]:
import pandas as pd

df = pd.read_parquet("/Users/ivbarauna/repos/ETL-awesome-api/data/EUR-CAD-1713646661.parquet")
df.head(5)

,code,codein,name,high,low,varBid,pctChange,bid,ask,timestamp,create_date
0,EUR,CAD,Euro/Dólar Canadense,1.4681,1.464,0.0001,0.01,1.465,1.4655,1713560371,2024-04-19 17:59:31